<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" id="cordova-plugin-video-editor" version="0.1">
    <name>Video Editor</name>
    <description>Cordova Video Editor Plugin</description>
    <license>Apache 2.0</license>
    <keywords>cordova, video, editor</keywords>
    <js-module src="www/VideoEditor.js" name="VideoEditor">
        <clobbers target="VideoEditor" />
    </js-module>
    <platform name="android">
        <config-file target="config.xml" parent="/*">
            <feature name="VideoEditor">
                <param name="android-package" value="org.apache.cordova.videoeditor.VideoEditor"/>
            </feature>
        </config-file>
        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
        </config-file>
        <source-file src="src/android/VideoEditor.java" target-dir="src/org/apache/cordova/videoeditor" />
    </platform>
</plugin>